.project-view
{
    padding: var(--spacing-xxl) var(--spacing-xl);
}

.project-title
{
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}

.todos-list
{
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-lg);
}

.project-add-button
{
    width: 100%;
    border: none;
    border-radius: var(--border-radius-sm);
}

.project-add-button:hover,
.project-add-button:focus-within
{
    outline: 1px solid var(--color-primary);
    box-shadow: var(--shadow-focus);
}