.todo-view
{
    padding: 48px 24px;
}

.todo-header
{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.todo-title
{
    resize: none;
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: inherit;
    height: 2rem;
}

.todo-priority
{
    margin: 0px 12px;
}

.steps-list
{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}


.todo-priority.value-high, .option-high { background-color: #e74c3c;}
.todo-priority.value-medium, .option-medium { background-color: #f39c12; }
.todo-priority.value-low, .option-low { background-color: #27ae60; }