.todo-view
{
    padding: var(--spacing-xxl) var(--spacing-xl);
}

.todo-header
{
    margin-bottom: var(--spacing-lg);
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.todo-title
{
    font-size: var(--font-size-xxl);
    font-weight: bold;
    height: var(--font-size-xxl);
    flex-grow: 1;
}

.todo-priority
{
    margin: 0px var(--spacing-lg);
}

.todo-section-title
{
    font-size: var(--font-size-base);
    letter-spacing: 0.09rem;
    margin: var(--spacing-xl) 0px var(--spacing-lg) 0px;
}

.todo-description
{
    width: 100%;
    height: var(--font-size-md);
}

.todo-description::placeholder
{
    color: var(--color-gray);
}

.steps-list
{
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-lg);
}

.todo-add-button
{
    border-top: var(--border-light);
    border-radius: var(--border-radius-sm);
}

.todo-add-button:hover,
.todo-add-button:focus-within
{
    outline: 1px solid var(--color-primary);
    box-shadow: var(--shadow-focus);
}

.todo-add-button:last-of-type
{
    border-bottom: var(--border-light);
}

.todo-priority.value-high, .option-high { background-color: var(--color-priority-high);}
.todo-priority.value-medium, .option-medium { background-color: var(--color-priority-medium); }
.todo-priority.value-low, .option-low { background-color: var(--color-priority-low); }