.todo-item-button
{
    background-color: white;
    border: 0px;
    display: flex;
    gap: 12px;
    padding: 12px;
    border-top: 1px solid rgb(223, 223, 223);
    text-align: left;
}

.todo-item-button:hover
{
    background-color: rgb(211, 219, 226);
}

.todo-item-button:last-of-type
{
    border-bottom: 1px solid rgb(223, 223, 223);
}

.todo-item-title
{
    width: 100%;
    min-height: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}