.todo-item-button
{
    background-color: var(--color-white);
    border: var(--border-none);
    display: flex;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
    border-top: var(--border-light);
    text-align: left;
}

.todo-item-button:hover
{
    background-color: var(--color-hover-gray);
}

.todo-item-button:last-of-type
{
    border-bottom: var(--border-light);
}

.todo-item-title
{
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

textarea.todo-item-title
{
    height: var(--font-size-md);
}

input:checked + textarea,
input:checked + div
{
    text-decoration: line-through;
    color: var(--color-muted-gray);
}