.add-item-button
{
    background-color: transparent;
    border: var(--border-none);
    display: flex;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
    text-align: left;
    align-items: center;
}

.add-item-text
{
    width: 100%;
    height: var(--font-size-md);
}

.add-item-icon
{
    height: var(--icon-size-sm);
    width: var(--icon-size-md);
    border: none;
    background-image: url("../../img/plus-circle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    filter: var(--filter-blue-icon);
}