.delete-button
{
    padding: var(--spacing-xs) var(--spacing-lg);
    background-color: var(--color-white);
    border: var(--border-none) solid;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-gray);
}

.delete-button:hover
{
    box-shadow: var(--shadow-lg);
    color: var(--color-primary);
}