.tag-dropdown{
    color: var(--color-white);
    background-color: var(--color-gray);
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-extra-bold);
    text-align: center;
    border: none;
    outline: 0px;
    padding: var(--spacing-sm);
    display: flex;
}

.tag-dropdown:hover
{
    box-shadow: var(--shadow-sm);
}

option:checked
{
    font-weight: var(--font-weight-extra-bold);
}